
.box1 {
    height: 25px;
    width: 80%;
    position: relative;
    top:0px;
    left:270px;
    
    padding:0px;
    margin:0px;

}
.box1_1 {
    height: 25px;
    width: 20%;
    position: relative;
    left:0px;
    top:-668px;
    text-align:left;
    padding:0px 0;
    font-weight:bold;
    
    font-size:18px;
}
.box1_2 {
    height: 25px;
    width: 20%;
    position: relative;
    left:268px;
    top:-668px;
    text-align:left;
    padding:0px 0;
    font-weight:bold;
    
    font-size:18px;
}
.box1_3 {
    height: 25px;
    width: 25%;
    position: relative;
    left:537px;
    top:-668px;
    text-align:left;
    padding:0px 0;
    font-weight:bold;
    
    font-size:18px;
}
.box1_2_1 {
    height: 25px;
    width: 20%;
    position: relative;
    left:0px;
    top:-570px;
    text-align:left;
    padding:0px 0;
    font-weight:bold;
    
    font-size:18px;
}
.box1_2_2 {
    height: 25px;
    width: 30%;
    position: relative;
    left:268px;
    top:-570px;
    text-align:left;
    padding:0px 0;
    font-weight:bold;
    
    font-size:18px;
}
.box1_2_3 {
    height: 25px;
    width: 25%;
    position: relative;
    left:537px;
    top:-570px;
    text-align:left;
    padding:0px 0;
    font-weight:bold;
    
    font-size:18px;
}

.box2_1 {
    height: 25px;
    width: 100%;
    position: relative;
    left:0px;
    top:0px;
    text-align:left;
    padding:0px 0;
    font-weight:bold;
    
    font-size:18px;
}
.box2_2 {
    height: 25px;
    width: 100%;
    position: relative;
    left:0px;
    top:0px;
    text-align:left;
    padding:0px 0;
    font-weight:bold;
    
    font-size:18px;
}
.box2_3 {
    height: 25px;
    width: 100%;
    position: relative;
    left:0px;
    top:20px;
    text-align:left;
    padding:0px 0;
    font-weight:bold;
    
    font-size:18px;
}
.box2_4 {
    height: 25px;
    width: 100%;
    position: relative;
    left:0px;
    top:20px;
    text-align:left;
    padding:0px 0;
    font-weight:bold;
    
    font-size:18px;
}
a:link {color:blue;}
a:visited {color:purple;}
aï¼šhover {color:green;}
a:active {color:red;}

.box3 {
    background-color:rgb(66, 66, 240);
    width:250px;
    height:700px;
    float:left;
    margin-right: 20px;
    margin-bottom:20px;
    
}
h1 {
    color:white;
    font-size:60px;
    position:relative;
    left:65px;
    top:20px;
}