
.box1 {
    height: 25px;
    width: 100%;
    position: relative;
    top:0px;
    left:0px;
    
    padding:0;
    margin:0;

}
.box1_1 {
    height: 25px;
    width: 20%;
    position: relative;
    left:0px;
    text-align:left;
    padding:0px 0;
    font-weight:bold;
    
    font-size:18px;
}
.box1_2 {
    height: 25px;
    width: 20%;
    position: relative;
    left:268px;
    top:-28px;
    text-align:left;
    padding:0px 0;
    font-weight:bold;
    
    font-size:18px;
}
.box1_3 {
    height: 25px;
    width: 20%;
    position: relative;
    left:537px;
    top:-55px;
    text-align:left;
    padding:0px 0;
    font-weight:bold;
    
    font-size:18px;
}
.box1_2_1 {
    height: 25px;
    width: 20%;
    position: relative;
    left:0px;
    top:0px;
    text-align:left;
    padding:0px 0;
    font-weight:bold;
    
    font-size:18px;
}
.box1_2_2 {
    height: 25px;
    width: 20%;
    position: relative;
    left:268px;
    top:-26px;
    text-align:left;
    padding:0px 0;
    font-weight:bold;
    
    font-size:18px;
}
.box1_2_3 {
    height: 25px;
    width: 20%;
    position: relative;
    left:537px;
    top:-50px;
    text-align:left;
    padding:0px 0;
    font-weight:bold;
    
    font-size:18px;
}

.box2_1 {
    height: 25px;
    width: 100%;
    position: relative;
    left:0px;
    top:0px;
    text-align:left;
    padding:0px 0;
    font-weight:bold;
    
    font-size:18px;
}
.box2_2 {
    height: 25px;
    width: 100%;
    position: relative;
    left:0px;
    top:0px;
    text-align:left;
    padding:0px 0;
    font-weight:bold;
    
    font-size:18px;
}
.box2_3 {
    height: 25px;
    width: 100%;
    position: relative;
    left:0px;
    top:20px;
    text-align:left;
    padding:0px 0;
    font-weight:bold;
    
    font-size:18px;
}
.box2_4 {
    height: 25px;
    width: 100%;
    position: relative;
    left:0px;
    top:20px;
    text-align:left;
    padding:0px 0;
    font-weight:bold;
    
    font-size:18px;
}

a:link {color:blue;}
a:visited {color:purple;}
aï¼šhover {color:green;}
a:active {color:red;}

.br {
    height:20px;
    width:100%;
    position: relative;
    top:20px;
    left:0px;
    
}